body {
    background-image: url("bar2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

* {
    font-family: michromaregular;
}

p {
    color: #ffffff;
}

span {
    color: #e63946;
}





/* Title & logo */

.headerTitleLogo {
    width: 50%;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    color: #e63946;

    display: flex;
    justify-content: flex-start;
}

h1 {
    margin: 0;
    font-family: Racing Sans One;
    font-size: xxx-large;
}

.reloadPage {
    text-decoration: none;
    color: inherit;
}

.reloadPage:hover {
    cursor: pointer;
}





/* Navbar section & button */

.navBar {
    width: 135px;
    height: 35px;

    background-color: rgba(114, 114, 114, 0.5);
    border-radius: 20px;
    padding: 5px;

    display: flex;
    justify-content: center;
}

.navBar button{
    width: 130px;
}

button {
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255,0.8);
    color: #000000;
    transition: all .20s;
}

button:hover {
    background-color: rgb(230, 57, 70, 0.5);
    transform: scale(0.9);
}






/* Welcome section */

.welcomeSection {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

.welcomeSectionHeadline {
    color: #e63946;
    font-size: 42px;
    font-weight: bold;
}

.welcomeSectionText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 27px;
}





/* Find bar  */

.findBarBtn {
    height: 100px;
    width: 450px;

    font-size: x-large;
}






/* Favorite bar section  */

.favoriteBar {
    color: #e63946;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;
}

.favoriteBarHeadline {
    color: #e63946;
    font-size: 35px;

    display: flex;
    justify-content: center;
}

h4 {
    color: #e63946;
    font-size: 25px;
}


.favoriteBarText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 18px;
}

.favoriteBarMap {
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Sign in pop up */

.signInPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;

    z-index: 10;

    border-radius: 15px;
    width: 350px;
    background-color: rgba(114, 114, 114, 0.95);

    font-family: michromaregular;
}

.signInPopUp.active {
    transform: translate(-50%, -50%) scale(1);
}

.popUpHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popUpTitle {
    font-size: 1.50rem;
    font-weight: bold;

    color: #e63946;
}

.closePopUpBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popUpText {
    padding: 10px 15px;
    font-size: 1.25rem;
}

#signIn {
    width: 25%;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);

    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}





/* About us */

h5 {
    font-size: x-large;
    color: #e63946;
}





/* Copyright text */

.copyRight {
    color: white;
    font-size: 14px;

    padding-top: 20px;
}

#copyRight {
    color: #e63946;
    font-family: "Racing Sans One";
    font-size: 18px;
}




/* Find bar headline text */

.findBarHeadlineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.findBarHeadline {
    color: #e63946;
    font-size: 35px;
}





/* Bar list style */

.dataFromApi {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.filterSearch {
    display: flex;

    flex-direction: column;

    margin: 25px;
}

#searchBtn {
    padding: 7px;
    margin: 15px;
}

.resetSearch {
    padding: 7px;
    margin: 15px;
}

#searchField {
    padding: 7px;
    border-radius: 15px;
    margin: 15px;

}

.checkBox {
    display: flex;
    flex-direction: column;
    color: #e63946;
}

.allBarList {
    width: 65%;

    margin: 15px;
}

li {
    list-style-type: none ;
    margin: 35px;
    border-radius: 25px;
    border: #e63946 2px solid;
    background-color: rgba(70, 70, 70, 0.75);
    padding: 15px;
    width: 90%;

    text-decoration-style: solid;
}






/* Responsive website for mobile device */

@media only screen and (max-width: 500px) {
    body {
        background-image: url("bar2mobil.jpg");
    }

    .navBar {
        height: 50px;
        width: 45px;
    }

    .navBar button {
        height: 50px;
        width: 45px;
    }

    h1 {
        font-size: 42px;
    }

    .welcomeSectionHeadline {
        font-size: 15px;
    }

    .welcomeSectionText {
        font-size: 12px;

        padding-bottom: 80px;
    }

    .findBarBtn {
        height: 48px;
        width: 210px;

        font-size: 12px;
    }

    .findBarHeadline {
        font-size: 20px;
    }

    .favoriteBarHeadline {
        font-size: 25px;
    }

    .favoriteBarText {
        font-size: 15px;
    }

    .favoriteBarMap {
        padding-top: 15px;
        padding-bottom: 15px;

        width: 90%;
    }

    .aboutUs {
        padding-top: 20px;
        font-size: 12px;
    }

    h5 {
        font-size: 18px;
    }

    .signInPopUp {
        width: 300px;
    }

    .dataFromApi {
        display: flex;
        flex-direction: column;
    }

    ul {
        margin: 0;
        padding: 0;
    }

}





@font-face {
    font-family: 'michromaregular';
    src: url('fontFamily1/michroma-regular-webfont.woff2') format('woff2'),
    url('fontFamily1/michroma-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



